* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body,main {
	min-height: 100% !important;
    height: 100%;
}
body {
	height: 100%;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a:hover {
	text-decoration: none;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
/*========================================
			Navbar
=========================================*/
.navbar {
	padding: 0 0px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.navbar-brand img {
	height: 50px;
	padding-bottom: 2px;
	padding-left: 20px;
}
.navbar-wrapper {
	background-color: #fff;
}
.navbar-wrapper .container-fluid {
	padding-right: 0px !important;
}
.menu-catalog {
	margin: 0 30px;
	border-left: 2px solid #e8eef0;
	border-right: 2px solid #e8eef0;
	padding: 23px 30px;
}
.menu-catalog:hover {
	background-color: #F4F4F4;
}
.catalog-icon span {
	font-weight: 500;
	font-size: 16px;
}
.catalog-icon img {
	margin-bottom: 3px;
	margin-right: 5px;
}
.search-form {
	border-radius: 0px;
	background-color: #eaeaea;
	margin-right: 0px !important;
    padding: 10px 15px;
    border: 2px solid #eaeaea;
}
.search-btn i {
	color: #fff;
	padding: 15px 20px;
}
.search-btn {
	background-color: #2281e7;
}
.search-btn:hover {
	background-color: #3496FF;
}
.simplebox {
  outline: none;
  border: 1px solid #eaeaea !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.user-wrapper {
	width: auto;
	display: flex;
}
.btn-animate {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	overflow: hidden;
}
.btn-animate a {
	color: rgba(51,51,51,1);
	display: block;
	/*padding: 22px 30px;*/
	/*font-weight: 500;*/
	border: none;
	outline: none;
}
.btn-animate::before, .btn-animate::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: rgba(13, 12, 12, 0.1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%);
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.btn-animate::after{
	-webkit-transition-delay: 0.2s; /* Safari */
    transition-delay: 0.2s;
}
.btn-animate:hover::before, .btn-animate:hover::after{
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}
.user-login a {
	padding: 22px 30px;
	font-weight: 500;
}
.user-login:hover::before, .user-login:hover::after{
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}
.user-login a img {
	padding-right: 10px;
	padding-bottom: 5px;
}
.user-sign-up {
	position: relative;
}
.user-sign-up a {
	color: #fff;
	background-color: #2281e7;
	padding: 24px 30px;
	font-weight: 500;
}
.user-sign-up a:hover {
	background-color: #3496FF;
}
/*========================================
				Modal
=========================================*/
.modal-content {
	border-radius: 0 !important;
}
.modal-wrapper {
	padding: 30px;
}
.modal-wrapper h1 {
	font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}
.modal-wrapper h3 {
	font-size: 16px;
	margin-top: 30px;
}
.modal-wrapper h4 {
	font-size: 20px;
	margin-bottom: 30px;
	font-weight: 700;
}
.modal-wrapper p {
	font-size: 18px;
	font-weight: 500;
}
.btn-general {
	position: relative;
	border-radius: 0;
	margin-top: 15px;
	width: 100%;
	height: 65px;
	padding: 0;
	text-align: center;
	color: #fff;
}
.btn-general:hover {
	color: #fff;
}
.btn-general i {
	float: left;
    padding: 21px 25px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
    font-size: 25px;
}
.btn-general span {
	position: absolute;
    top: 20px;
    left: 32%;
    content: '';
    font-size: 18px;
    font-weight: 500;
}
.btn-blue {
	background-color: #4864a3;
}
.btn-red {
	background-color: #de4730;
}
.btn-light-blue {
	background-color: #0078b7;
}
.btn-login {
	width: 100%;
    height: 50px;
    border-radius: 0;
    margin-top: 30px;
    background-color: #2281e7;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.font-weight-b{
	font-weight: 600;
}
hr.or-divider {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: 1px solid #e0e0e1;
    color: #e0e0e1;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;	
}
hr.or-divider:after {
    content: "Or";
    display: inline-block;
    position: relative;
    top: -12px;
    font-size: 1em;
    padding: 0 1.25em;
    background: white;
}
/*========================================
				Home Section
=========================================*/
.hero {
	background-image: url('../images/hero-bg.jpg');
	height: 100vh;
    position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
}
.banner-wrapper {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.banner-container {
	background-color: #32445a;
	padding: 50px 0;
	background-image: url('../images/banner-bg.png');
	background-repeat: no-repeat;
	background-position: bottom;
}
.banner-title h1 {
	font-size: 42px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px
}
.banner-desc {
    color: rgba(255,255,255,0.7);
    font-size: 20px;
    margin-bottom: 30px;
}
.banner-search {
	padding: 0px 90px;
}
.banner-form {
	display: flex;
}
.banner-field {
	width: 100%;
    padding: 14px 25px;
    color: #e8eef0;
	border-radius: 0;
	background-color: #EAEAEA;
	font-size: 20px;
}
.banner-form .search-btn  i {
	background-color: #2281e7;
    color: #fff;
    padding: 22px 29px;search-btn
    font-size: 20px;
}
.banner-form .search-btn i:hover {
	background-color: #3496FF;
}
/*========================================
				Feature Section
=========================================*/
.feature-wrapper {
	background-color: #eaeaea;
}
.brand-wrapper {
	background-color: #eaeaea;
}
.feature-container [class*="col-"] {
	padding: 0;
	background-color: #2e2f33;
	border-left: 1px solid #4d4e51;
}
.feature-container {
	padding: 0 15px;
}
.feature-item {
	color: #fff;
	padding: 30px;
	display: flex;

}
.feature-item-desc p {
	display: inline;
	font-size: 14px;
	color: #d0d0d0;
}
.feature-item-icon img {
	margin-right: 16px;
    margin-top: 5px;
}
.brand-item-list {
	padding: 60px 0 30px 0;
}
.center-block {
	margin:auto;
}
/*========================================
				Header
=========================================*/
.we-title {
	padding: 55px 10px 40px 20px;	
}
.we-title h2 {
	font-size: 32px;
	font-weight: 700;
}
.see-all {
	background-color: #2281e7;
	color: #fff;
	margin-right: 20px;
	padding: 10px 15px;
}
.see-all:hover {
	background-color: #3496FF;
	color: #fff;
}
/*========================================
				Carousel
=========================================*/
.owl-theme .owl-nav [class*=owl-] {
	background: none !important;
}
.owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 35%;
    margin-left: -22px !important;
    display: block!IMPORTANT;
    border:0px solid black;
}

.owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 35%;
    right: 42px;
    display: block!IMPORTANT;
    border:0px solid black;
}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
   display: none !important;
}
/*========================================
				Card Item
=========================================*/
.card {
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.175) !important;
}
.card-img-top {
	height: 185px;
}
.card-title {
	font-size: 18px;
	font-weight: 700;
	color: #000;
}
.card-title:hover {
	color: #2281e7;
}
.card-text {
	color: #2e2f33;
	font-size: 14px;
	margin-top: 5px;
}
.card-author {
	font-size: 12px;
	font-weight: 500;
	color: #2e2f33;
}
.card-body span {
	color: #828384;
	font-size: 12px;
}
.divider {
	height: 1px;
	background-color: #EAEAEA;
	margin-top: 50px;
/*    margin-bottom: 30px;*/
}
.card-bot {
	border-top: 1px solid #e0e0e1;
	padding-top: 10px;
	margin-top: 15px;
}
.card-course-name a{
	text-transform: uppercase;
	font-size: .75em;
	font-weight: 600;
}
/*========================================
				Rating Star
=========================================*/
.rating i {
	font-size: 12px;
	color: #ff8614;
}
/*========================================
				Popover
=========================================*/
.course-pop-wrapper {
	padding: 20px;
}
.course-pop-name{
	margin-bottom: 20px;
}
.course-pop-name a {
	font-size: 12px;
	font-weight: 600;
	color: #2281e7;
	text-transform: uppercase;
}
.course-pop-name a:hover {
	color: #2e2f33;
}
.course-pop-title {
	margin-bottom: 20px;
}
.course-pop-title a {
	font-size: 20px;
	font-weight: 600;
	color: #2e2f33;
}
.course-pop-title a:hover {
	color: #2281e7;
}
.course-pop-desc {
	margin-bottom: 20px;
}
.course-pop-desc ul li {
	margin-left: 20px;
}
.course-pop-author {
	margin-bottom: 20px;
}
.pop-btn-group .btn-preview {
	background-color: #2281e7;
	color: #fff;
	padding: 10px 30px;
	margin-right: 10px;
}
.pop-btn-group .btn-enroll {
	background-color: #ffa414;
	color: #fff;
	padding: 10px 40px;
}
.pop-btn-group {
	margin-bottom: 30px;
	margin-top: 30px;
}
.course-pop-whishlist a {
	color: #2e2f33;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
/*========================================
				Featured Instructor
=========================================*/
.featured-instructor {
	background-color: #eaeaea;
	margin-top: 60px;
	padding-bottom: 60px;
}
.instructor-wrapper {
	margin: 0 20px;
}
.dark-gray-bg {
	background-color: #3e4043;
	color: #eaeaea;
}
.light-gray-bg {
	background-color: #565659;
	color: #eaeaea;
}
.instructor-info {
	padding: 30px;
}
.instructor-name {
	font-weight: 700;
	font-size: 24px;
}
.block-student {
	border-right: 1px solid #6f6f72;
	margin: 10px 0 10px 30px;
	font-weight: 500;
	padding: 20px 0;
}
.block-courses {
	margin: 30px;
	font-weight: 500;
}
.block-student span {
	display: block;
}
.block-courses span {
	display: block;
}
.block-img {
	width: 100%;
}
.block-teacher-img {
	position: relative;
}
.block-courses-img {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
}
.instructor-item {
	width: 945px;
}
.block-courses-img .col-md-6 .course-detail a img {
	width: 30%;
	display: inline-block;
}
.block-courses-img .col-md-6 .course-detail a {
	display: flex;
	margin-left: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 10px
}
.block-courses-img .col-md-6 .course-detail a:hover {
	background-color: rgba(255, 255, 255, 1.0);
}
.block-courses-img .col-md-6 .course-detail a span {
	color: #000;
    font-size: 12px;
    padding-top: 18px;
    padding-left: 10px;
}
/*========================================
				Hire Instructor
=========================================*/
.hire-instructor {
	background: #fff url('../images/bg_pattern_02.png') repeat-x bottom center;
	padding-top: 60px;
}
.hire-title h1 {
	font-weight: 700;
	font-size: 46px;
	margin-bottom: 30px;
}
.hire-desc {
	font-size: 20px;
	margin-bottom: 30px;
}
.hire-btn a {
	background-color: #2281e7;
    font-size: 24px;
    color: #fff;
    border-radius: 0;
    padding: 11px 24px;
    font-weight: 500;
    margin-bottom: 35px;
}
.hire-btn a:hover {
	background-color: #3496FF;
}
/*========================================
				Footer
=========================================*/
.footer-content {
	background-color: #32445A;
	padding: 60px;
}
.copyright {
	background-color: #2b3a4e;
}
.footer-title {
	color: #fff;
}
.footer-title span {
	font-size: 24px;
}
.footer-title ul {
	margin-top: 20px;
}
.footer-title ul li {
	list-style: none;
}
.footer-title ul li a {
	color: #949DA9;
	font-size: 14px;
	font-weight: 400;
}
.footer-title ul li a:hover {
	color: #fff;
}
.icon-list {
	display: flex;
    justify-content: center;
    margin-top: 40px;
}
.icon-list li {
	list-style: none;
}
.icon-list li i {
	color: #fff;
    font-size: 26px;
    height: 60px;
    width: 60px;
    padding-top: 18px;
}
.icon-bg-dark {
	background-color: #2b3a4e;
}
.icon-bg-light {
	background-color: #47576b;
}
.copyright {
	padding:30px;
}
.copyright span {
	color: rgba(255, 255, 255, 0.4);
	font-size: 14px;
}
/*Menu*/
.btn-catalog {
	border-left: 1px solid #e0e0e1;
	border-right: 1px solid #e0e0e1;
	padding: 22px 20px;
	margin-right: 20px;
	font-weight: 500;
}
.btn-catalog:before {
	background: url('../images/catalog-icon.png') no-repeat bottom;
	content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1.375em;
    height: 1.375em;
    background-size: cover;
    margin-right: 0.675em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0, 0.99);
}
.btn-catalog:hover {
	background-color: #f4f4f4;
}
.menu-nav {
	height: 70px;
}
.menu-nav ul ul {
	display: none;
}
.menu-nav ul li:hover > ul {
	display: block;
	transition: all 1s cubic-bezier(.24,.25,.99,-1.07);
}
.menu-nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
	margin-bottom: 0;
	min-width: calc(100% + 1em);
}
.menu-nav ul:after {
	content: "";
	clear: both;
	display: block;
}
.menu-nav ul li { 
	float: left;
}
.menu-nav ul li:hover a { color: #2d2e33; }
.menu-nav ul li a {
	color: #2d2e33;
	display: block;
	padding: 0px 35px;
}
.menu-nav ul li a:after {
	font-family: FontAwesome;
	content: "\f105";
	float: right;
}
.menu-nav ul ul ul li a:after {
	content: '';
}
.menu-nav ul ul {
	background: #f4f4f4;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	left: 0;	
}
.menu-nav ul ul li {
    float: none;
}
.menu-nav ul ul li:first-child {
    padding-top: 1em;
}
.menu-nav ul ul li:last-child a {
    border-bottom: none;
}
.menu-nav ul ul li a {
	color: #2d2e33;
	text-align:left;
	padding: 10px 0;
	margin:0 25px;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid #DCDCDC;
}
.menu-nav ul ul li a:hover {
	color: #227cdf;
}
.menu-nav ul ul ul {
	position: absolute;
	left: 100%;
	top:0;
	background-color: #37383d;
}
.menu-nav ul ul ul li a {
	color: #aeafb0 !important;
	border-bottom: 1px solid #606060;
}
.menu-nav ul ul ul li a:hover {
	color: #fff !important;
}
.menu-nav ul ul ul li:last-child a {
	border-bottom: none;
	float: right;
}
